*{
    margin: 0px;
    padding: 0px;
}


#contenedor{ 
    width: 970px;
    height: 750px;
    background-color: #2b5b84;
    margin: 0 auto;
}

#tittle{
    width: 460px;
    height: 80px;
    display: inline-block;
    margin-top: 20px;
}

#texto{
    display: inline-block;
    width: 500px;
    height: 80px;
    text-align: right;
    vertical-align: top;
    color: white;
}

#text a{
    color: yellow;
}

#search{
    width: 240px;
    height: 50px;
    display: flex;
    background-color: rgb(86, 88, 97);
    margin-left: 250px;
    border-style: inset;
    border-bottom-color: black;
    border-right-color: black;
    text-align: center;
    border-radius: 8px;
    margin-top: 10px;
}
#go{
    width: 30px;
    height: 30px;
    background-color: rgb(76, 107, 141);
    margin-top: 12px;
}

#links{
    width: 800px;
    height: 50px;
    display: inline-block;
    background-color: rgb(74,128,171);
    border-radius: 5px;
    margin-left: 70px;
}
#lista{
    text-align: center;
    padding-top: 10px;
}
#link1{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-left: 9px;
}
.nav{
    width: 200px;
    height: 270px;
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
}

.nav li{
    list-style: none;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.nav li a{
    color: white;
}

.nav li span{
    color: yellow;
}

.menu{
    width: 620px;
    height: 270px;
    display: inline-block;
    margin-left: 70px;
}

#resumen{
    text-align: center;
    color: white;
    margin-top: 20px;
}
.menu p{
    color: yellow;
    text-align: center;
}
.submenu{
    height: 180px;
    background-color: white;
}

.cuadro1{
    width: 400px;
    height: 170px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
    text-align: center;
    list-style-position: inside;
    font-size: 14px;
}

.cuadro2{
    width: 430px;
    height: 170px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
    text-align: center;
    list-style-position: inside;
    font-size: 14px;
}

.footer{
    width: 970px;
    height: 50px;
    display: inline-block;
    background-color: #2b5b84;
}

.links4{
    color: rgb(210, 221, 231);
    text-align: center;
    margin-top: 30px;
}